// 1. Load your project's USWDS settings configuration
@use 'uswds-core' as * with (
  $theme-font-path: '../../../../../../dist/fonts',
  $theme-image-path: '../../../../../../dist/img',
  $theme-hero-image: '../img/hero.jpg',

  // base colors
  $theme-color-base-family: 'gray',
  $theme-color-base-lightest: 'gray-3',
  $theme-color-base-lighter: 'gray-10',
  $theme-color-base-light: 'gray-20',
  $theme-color-base: 'gray-50',
  $theme-color-base-dark: 'gray-70',
  $theme-color-base-darker: 'gray-80',
  $theme-color-base-darkest: 'gray-warm-90',
  $theme-color-base-ink: 'gray-warm-90',

  // Primary colors
  $theme-color-primary-family: 'blue-warm',
  $theme-color-primary-lightest: false,
  $theme-color-primary-lighter: 'blue-warm-10',
  $theme-color-primary-light: 'blue-warm-40v',
  $theme-color-primary: 'blue-warm-50v',
  $theme-color-primary-vivid: 'blue-warm-50v',
  $theme-color-primary-dark: 'blue-warm-60',
  $theme-color-primary-darker: 'blue-warm-70v',
  $theme-color-primary-darkest: 'blue-warm-80v',

  // Secondary colors
  $theme-color-secondary-family: 'red',
  $theme-color-secondary-lightest: false,
  $theme-color-secondary-lighter: 'red-10v',
  $theme-color-secondary-light: 'red-20',
  $theme-color-secondary: 'red-40v',
  $theme-color-secondary-vivid: 'red-40v',
  $theme-color-secondary-dark: 'red-50',
  $theme-color-secondary-darker: 'red-60v',
  $theme-color-secondary-darkest: 'red-70',

  // Accent warm colors
  $theme-color-accent-warm-family: 'grey-warm',
  $theme-color-accent-warm-lightest: false,
  $theme-color-accent-warm-lighter: false,
  $theme-color-accent-warm-light: 'gray-warm-4',
  $theme-color-accent-warm: 'gray-warm-10',
  $theme-color-accent-warm-dark: 'gray-warm-20',
  $theme-color-accent-warm-darker: 'gray-warm-40',
  $theme-color-accent-warm-darkest: 'gray-warm-60',

  // Accent cool colors
  $theme-color-accent-cool-family: 'blue-cool-vivid',
  $theme-color-accent-cool-lightest: 'blue-cool-5v',
  $theme-color-accent-cool-lighter: 'blue-cool-10v',
  $theme-color-accent-cool-light: 'blue-cool-20',
  $theme-color-accent-cool: 'blue-cool-30v',
  $theme-color-accent-cool-dark: 'blue-cool-40v',
  $theme-color-accent-cool-darker: 'blue-cool-50v',
  $theme-color-accent-cool-darkest: 'blue-cool-60v',

  // body text color
  $theme-text-color: 'gray-cool-90',

  // layout grid
  $theme-grid-container-max-width: 'desktop-lg',
  $theme-banner-max-width: 'desktop-lg',
  $theme-header-max-width: 'desktop-lg',
  $theme-header-min-width: 'none',
  $theme-identifier-max-width: 'desktop-lg',
  $theme-footer-max-width: 'desktop-lg',

  // usa banner
  $theme-banner-background-color: 'blue-warm-80',

  // typography
  $theme-font-role-heading: 'sans',

  // header size
  $theme-h1-font-size: '3xl',
  $theme-h2-font-size: '2xl',
  $theme-h3-font-size: 'xl',
  $theme-h4-font-size: 'lg',
  $theme-h5-font-size: 'sm',
  $theme-h6-font-size: 'xs',

  // sizing
  $theme-site-margins-width: 2,

  $display-settings: (
    responsive: true,
  ),

  $height-settings: (
    responsive: true,
  ),

  $overflow-settings: (
    responsive: true,
  )
);

// 2. Load USWDS source code
@forward 'uswds';

// 3. Load any custom SASS

// text styling
.text-capitalize {
  text-transform: capitalize;
}
.text-break-all {
  word-break: break-all;
}

// NavGlobal
#nav-global {
  background: color('blue-60') linear-gradient(0deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.2) 100%);

  a {
    gap: 0.5rem;

    &.nav-product {
      -webkit-transition: border 200ms ease-out;
      -moz-transition: border 200ms ease-out;
      -o-transition: border 200ms ease-out;
      transition: border 200ms ease-out;

      &:hover, &:focus {
        border-bottom-color: color('blue-30v');
      }
    }
  }

  .cloud-logo {
    width: 28px;
    @include at-media('mobile-lg') {
      width: inherit;
    }
  }
}

// UsersActionsSpaceRole
.users-actions-space-role label {
  @include at-media('tablet') {
    margin-top: 0;
  }
}

// Removes the 'X' from Chrome search inputs
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

// usa-table

$table-border: 1px solid color('gray-20');

.usa-table {
  // Let’s make our tables expand to fill their container
  width: 100%;
  thead th {
    background: color('gray-warm-4');
    border: none;
    border-bottom: $table-border;
    padding: units( 0.5 ) units( 1 );
  }
  // Applying default background and font sizing to the tbody element. (This could be moved down into child elements if need be.)
  tbody {
    background: white;
    @include u-font('sans', '2xs');
  }
  // Default padding for table headings/cells.
  tbody th,
  td {
    padding: units(0.5) units(1);
  }
  // Borders for our in-tbody table headers.
  tbody th {
    border-bottom: $table-border;
    border-right: $table-border;
    border-left: $table-border;
    border-top: none;
  }
  // Table cells (td) only need a bottom border.
  td {
    border: 0;
    border-bottom: $table-border;
  }
  // …unless they’re the last cell in the row.
  td:last-child {
    border-right: $table-border;
    text-align: center;
  }
  // We don’t need a full-width button, especially on smaller screens.
  .usa-button {
    width: initial;
  }
}

table.usa-table--stacked {
  border-collapse: separate;
  border-spacing: 0 2em;
  @include at-media('mobile-lg') {
    border-collapse: initial;
    border-spacing: initial;
  }
  // On smaller screens, we can undo most of the border/padding rules above.
  @include at-media-max('mobile-lg') {
    tbody th,
    td {
      border-left: $table-border;
      border-right: $table-border;
      padding: units(1);
    }
    tbody th,
    td:not(:last-child) {
      border-bottom: none;
    }
  }
}
