// 1. Load your project's USWDS settings configuration
@use 'uswds-core' as * with (
  $theme-font-path: '../../../../../../dist/fonts',
  $theme-image-path: '../../../../../../dist/img',
  $theme-hero-image: '../img/hero.jpg',

  // base colors
  $theme-color-base-family: 'gray-cool',
  $theme-color-base-lightest: 'gray-cool-3',
  $theme-color-base-lighter: 'gray-cool-10',
  $theme-color-base-light: 'gray-cool-20',
  $theme-color-base: 'gray-cool-50',
  $theme-color-base-dark: 'gray-cool-70',
  $theme-color-base-darker: 'gray-cool-80',
  $theme-color-base-darkest: 'gray-warm-90',
  $theme-color-base-ink: 'gray-warm-90',

  // Primary colors
  $theme-color-primary-family: 'blue-warm',
  $theme-color-primary-lightest: false,
  $theme-color-primary-lighter: 'blue-warm-10',
  $theme-color-primary-light: 'blue-warm-40v',
  $theme-color-primary: 'blue-60',
  $theme-color-primary-vivid: 'blue-warm-50v',
  $theme-color-primary-dark: 'blue-warm-60',
  $theme-color-primary-darker: 'blue-warm-70v',
  $theme-color-primary-darkest: 'blue-warm-80v',

  // Secondary colors
  $theme-color-secondary-family: 'red',
  $theme-color-secondary-lightest: false,
  $theme-color-secondary-lighter: 'red-10v',
  $theme-color-secondary-light: 'red-20',
  $theme-color-secondary: 'red-40v',
  $theme-color-secondary-vivid: 'red-40v',
  $theme-color-secondary-dark: 'red-50',
  $theme-color-secondary-darker: 'red-60v',
  $theme-color-secondary-darkest: 'red-70',

  // Accent warm colors
  $theme-color-accent-warm-family: 'grey-warm',
  $theme-color-accent-warm-lightest: false,
  $theme-color-accent-warm-lighter: false,
  $theme-color-accent-warm-light: 'gray-warm-4',
  $theme-color-accent-warm: 'gray-warm-10',
  $theme-color-accent-warm-dark: 'gray-warm-20',
  $theme-color-accent-warm-darker: 'gray-warm-40',
  $theme-color-accent-warm-darkest: 'gray-warm-60',

  // Accent cool colors
  $theme-color-accent-cool-family: 'cyan',
  $theme-color-accent-cool-lightest: 'cyan-5',
  $theme-color-accent-cool-lighter: 'cyan-10v',
  $theme-color-accent-cool-light: 'cyan-20',
  $theme-color-accent-cool: 'cyan-30v',
  $theme-color-accent-cool-dark: 'cyan-40v',
  $theme-color-accent-cool-darker: 'cyan-50',
  $theme-color-accent-cool-darkest: 'cyan-60',

  // body text color
  $theme-text-color: 'gray-cool-90',

  // layout grid
  $theme-grid-container-max-width: 'full',
  $theme-banner-max-width: 'desktop-lg',
  $theme-header-max-width: 'desktop-lg',
  $theme-identifier-max-width: 'desktop-lg',
  $theme-footer-max-width: 'desktop-lg',

  // usa banner
  $theme-banner-background-color: 'blue-warm-80',

  // typography
  $theme-font-role-heading: 'sans',

  // header size
  $theme-h1-font-size: '3xl',
  $theme-h2-font-size: '2xl',
  $theme-h3-font-size: 'xl',
  $theme-h4-font-size: 'lg',
  $theme-h5-font-size: 'sm',
  $theme-h6-font-size: 'xs',

  $display-settings: (
    responsive: true,
  ),

  $height-settings: (
    responsive: true,
  ),

  $overflow-settings: (
    responsive: true,
  )
);

// 2. Load USWDS source code
@forward 'uswds';

// 3. Load any custom SASS

// text styling
.text-capitalize {
  text-transform: capitalize;
}
.text-break-all {
  word-break: break-all;
}

// NavGlobal
#nav-global {
  background: color('blue-60') linear-gradient(0deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.2) 100%);
  color: #FFFFFF;

  .nav-global-inner {
    align-items: center;
    display: flex;
    @include u-maxw('desktop-lg');
    @include u-padding-x(2);
    @include u-margin-x('auto');
    @include u-font('body', 'xs');
    @include at-media('desktop') {
      @include u-padding-x(4);
    }

    a {
      align-items: center;
      display: flex;
      gap: 0.5rem;
      padding: units(1.5) 0 units(1);
      border-width: 0 0 units(0.5) 0;
      @include u-border('transparent');
      @include u-text('white');
      @include at-media('desktop') {
        padding: units(2.5) 0 units(2);
      }
    }
    
    a.nav-product {
      @include u-text('no-underline');
      -webkit-transition: border 200ms ease-out;
      -moz-transition: border 200ms ease-out;
      -o-transition: border 200ms ease-out;
      transition: border 200ms ease-out;

      &:hover, &:focus {
        border-bottom-color: color('blue-30v');
      }
    }

    a.cloud-logo {
      @include u-text('no-underline');
    }

    .cloud-logo {
      display: block;
      margin-right: units(2.5);
      overflow: hidden;
      width: 28px;
      @include at-media('mobile-lg') {
        margin-right: units(7);
        overflow: visible;
        width: inherit;
      }
    }
  }

  .nav-product {
    margin-bottom: 2px;
    margin-right: units(2.5);

    &.active {
      @include u-border('white');
      @include u-text('bold');
    }
  }
}

// UsersActionsSpaceRole
.users-actions-space-role label {
  @include at-media('tablet') {
    margin-top: 0;
  }
}

// Removes the 'X' from Chrome search inputs
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

@include at-media('desktop') {
  .usa-header--basic {
    .usa-nav,
    .usa-nav-container {
      display: block;
      margin: 0;
      padding: 0;
    }

    .usa-navbar {
      display: none;
    }

    .usa-nav__primary > .usa-nav__primary-item > a {
      font-weight: 400;
      margin-right: 2rem;
      padding-left: 0;
      padding-right: 0;

      &.usa-current {
        @include u-text('primary');
        font-weight: 700;
      }
    }

    .usa-nav__primary-item > .usa-current::after,
    .usa-nav__link:hover::after {
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
